.blue {
  color: #0C2340;
}

.red {
  color: #BD1F2D;
}

th {
  border-bottom: 1px solid gray;
  font-weight: bold;
  font-size: 1.2em;
}

a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

h1 {
  text-align:center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
